Checks: >
  # General Checks
  clang-diagnostic-*,
  misc-throw-by-value-catch-by-reference,
  misc-definitions-in-headers,
  llvm-header-guard,
  clang-analyzer-core.NonNullParamChecker,
  clang-analyzer-core.UndefinedBehavior,
  clang-analyzer-core.BitwiseShift,

  # Performance Checks
  performance-*,
  performance-inefficient-vector-operation,

  # Modernization
  modernize-deprecated-ios-base-aliases,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-pass-by-value,
  modernize-raw-string-literal,
  modernize-redundant-void-arg,
  modernize-replace-auto-ptr,
  modernize-replace-disallow-copy-and-assign-macro,
  modernize-return-braced-init-list,
  modernize-use-auto,
  modernize-use-bool-literals,
  modernize-use-equals-default,
  modernize-use-emplace,
  modernize-use-equals-delete,
  modernize-use-noexcept,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  modernize-deprecated-headers,

  # Google Style Guide
  google-explicit-constructor,
  google-build-using-namespace,
  google-runtime-int,
  google-global-names-in-headers,

  # Readability
  readability-braces-around-statements,
  readability-container-size-empty,
  #  readability-identifier-naming,
  #  readability-magic-numbers,
  readability-redundant-member-init,

  # HICPP and Portability
  hicpp-exception-baseclass
  portability-restrict-system-includes

  # Disabled/Suppressed Checks
  -bugprone-branch-clone,
  -bugprone-macro-parentheses,
  -bugprone-signed-char-misuse,
  -bugprone-misplaced-widening-cast,
  -bugprone-sizeof-expression,
  -bugprone-narrowing-conversions,
  -bugprone-unchecked-optional-access,
  -bugprone-dynamic-static-initializers,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-too-small-loop-variable,
  -bugprone-exception-escape,
  -bugprone-unused-return-value,
  -bugprone-integer-division,
  -bugprone-parent-virtual-call,
  -bugprone-forward-declaration-namespace,
  -bugprone-assignment-in-if-condition,
  -bugprone-not-null-terminated-result,
  -bugprone-spuriously-wake-up-functions,
  -bugprone-assert-side-effect,
  -bugprone-copy-constructor-init,
  -bugprone-move-forwarding-reference,
  -bugprone-unused-raii,
  -bugprone-undefined-memory-manipulation,
  -bugprone-floating-point-implicit-conversion,
  -bugprone-reserved-identifier,

WarningsAsErrors: '*'

FormatStyle: none

ExtraArgs:
  - '-Wno-unknown-pragmas'
  - '-Wno-unused-command-line-argument'

CheckOptions:
  # Identifier Naming Rules
  - key: readability-identifier-naming.TypeTemplateParameterIgnoredRegexp
    value: expr-type
  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: UPPER_CASE
  - key: readability-identifier-naming.TemplateTemplateParameterCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefCase
    value: lower_case
  - key: readability-identifier-naming.TypedefSuffix
    value: _t
  - key: readability-identifier-naming.FunctionCase
    value: aNy_CasE
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: "m_"
  - key: readability-identifier-naming.PrivateMethodCase
    value: lower_case
  - key: readability-identifier-naming.ConstantCase
    value: aNy_CasE
  - key: readability-identifier-naming.ConstantParameterCase
    value: lower_case
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StaticConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ClassConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstexprVariableCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StaticMemberCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StaticMemberPrefix
    value: "S_"
  - key: readability-identifier-naming.VariableCase
    value: lower_case

  # Enforce braces for all control flow statements
  - key: readability-braces-around-statements.ShortStatementLines
    value: '0'
