.idea
thirdparty/*.tar*
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
build/
*-build/
Testing/
build-support/boost_*

# Build directories created by Clion
cmake-build-*/

#########################################
# Editor temporary/working/backup files #
.#*
*\#*\#
[#]*#
*~
*$
*.bak
*flymake*
*.kdev4
*.log
*.swp

#########################################
# ignore tmp directory
tmp

######################################### from the fls_benchamrks integration
.vagrant/
*.pdf
plot/*.log
plot/*.tex
.Rhistory

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# System files
/.run
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Project related
/paper/dataset_lib/__pycache__
/_deps
/.cmake
*.ninja
/test/local_result
DartConfiguration.tcl
paper/dataset_lib/compress_bi_py.db
paper/dataset_lib/compress_bi_py.orc
paper/dataset_lib/compress_bi_py.pq
paper/dataset_lib/compress_bi_py.db
paper/dataset_lib/compress_bi_py.orc
DartConfiguration.tcl


# CMake build
cmake-build-python/
# Python build artefacts
*.egg-info/
dist/
build/